@model List<Book>
<partial name="_Notification"/>
<h3>This is Book Management Section</h3>
<a asp-controller="Book" asp-action="Add" class="btn btn-primary">Add new Book</a>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Author</td>
			<td>Price</td>
			<td>Category</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var Book in Model)
		{
			<tr>
				<td>@Book.Title</td>
				<td>@Book.Description</td>
				<td>@Book.Author</td>
				<td>@Book.Price</td>
				<td>@Book.Category.Name</td>
				<td>
					<a asp-controller="Book" asp-action="Edit" asp-route-id="@Book.Id" class="btn btn-primary">Edit</a>
					<a asp-controller="Book" asp-action="Delete" asp-route-id="@Book.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
